* {
	margin: 0;
    padding: 0;
}

html {
    position: relative; 
    min-height: 100%;
}

body {
    width: 100%; 
    margin: 0 auto;
    height: 100%;
}

header {
    height: 80px;
    background-color: rgb(22, 22, 22);
}

h1 {
    color: white;
    text-align: center;
    padding-top: 20px;
}

main {
    height: 450px;
    margin: 0 6.5%;
    padding-bottom: 80px;
}

form {
    margin: 40px 50px 20px 50px;
}

.input {
    width: 90%;
    height: 30px; 
    background: url(img/magnifier.png) no-repeat 0.5% 50%; 
    border: 1px solid grey;  
    padding-left: 45px;
}

.submit {
    border: 0;
    width: 8%;
    height: 30px;
    color: white;
    background-color: darkred;
}

.submit:focus {
    outline: none; 
}

#error {
    height: 14px;
    text-align: center;
    font-weight: bold;
    color: #ce5d56;
}

.wrapper {
    width: 97%;
    height: 460px; 
    margin: 20px 25px 20px 25px;
    overflow: hidden;
}

.movies {
    display: flex;
    transition: transform 1s ease;
}

.movie {
    width: 380px;
    height: 450px;
    text-align: center;
    margin: 0 2.2%;
}

a {
    color: black;
}

.title {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 3%;
    overflow: hidden;
    height: 20px;
    line-height: 30px;
}

.poster {
    width: 260px;
    height: 370px;
    padding-top: 10px;
}

.year {
    font-weight: bold;
    padding: 1% 0;
}

.star {
    font-weight: bold;
}

.star img {
    width: 14px;
    height: 14px;
    padding-right: 5px;
}

.switcher-left {
    width: 14px;
    height: 20px;
    position: relative;
    bottom: 225px;
    left: 0.5%;
}

.switcher-right {
    width: 14px;
    height: 20px;
    position: relative;
    bottom: 225px;
    left: 95%;
}

footer {
    height: 40px;
    background-color: rgb(22, 22, 22);
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rs-group {
    width: 50%;
    padding-left: 10%;
}

.rs-name {
    width: 50%;
    display: flex;
    padding-left: 55%;
}

footer p {
    color: white;
    padding-top: 10px;
}

.rs-name img {
    width: 20px;
    height: 20px;
    margin: 10px 15px 0 0;
    border-radius: 100px;
}

.submit, .switcher-left:hover, .switcher-right:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .input {
        width: 85%;
    }
    .submit {
        width: 13%;
    }
    .switcher-left {
        left: 0%;
    }
}
@media screen and (max-width: 750px) {
    .input {
        width: 80%;
    }
    .submit {
        width: 18%;
    }
    .switcher-right {
        left: 94.5%;
    }
    .rs-group {
        padding-left: 12%;
    }
    .rs-name {
        padding-left: 40%;
    }
}
@media screen and (max-width: 600px) {
    .input {
        width: 75%;
        padding-left: 35px;
    }
    .submit {
        width: 23%;
    }
    .rs-group {
        padding-left: 10%;
    }
    .rs-name {
        padding-left: 30%;
    }
}
@media screen and (max-width: 450px) {
    .input {
        width: 50%;
    }
    .submit {
        width: 30%;
    }
    .switcher-right {
        left: 90%;
    }
    .rs-group {
        padding-left: 5%;
    }
    .rs-name {
        padding-left: 20%;
    }
}
@media screen and (max-width: 320px) {
    .input {
        width: 50%;
    } 
    .submit {
        width: 38%;
    }
    .rs-group {
        padding-left: 3%;
    }
    .rs-name {
        padding-left: 10%;
    }
}